---
import { projects } from '@src/data/projects';
import { Image, Picture } from 'astro:assets';

type Project = {
	coverImage?: string;
	name: string;
	description: string;
	pubDate?: string;
	client?: string;
	tags: string[];
	demoLink?: string;
};
import Tag from './Tag.astro';

const { image, title, description, startDate, pubDate, clientName, tags, href, variant, className } = Astro.props;

const cardClasses =
	variant === 'secondary'
		? 'bg-layer-floor1/5 dark:bg-layer-floor1/5 border border-layer-floor1/5'
		: 'bg-layer-floor2 dark:bg-layer-floor2 border border-layer-floor2/5';

const hoverClasses =
	variant === 'secondary'
		? 'hover:bg-layer-floor2/10 dark:hover:bg-layer-floor2/10 border-layer-floor2/10'
		: 'hover:bg-layer-floor3 dark:hover:bg-layer-floor3 border-layer-floor3/5';

const titleClasses = variant === 'secondary' ? 'text-text-primary dark:text-text-onAccent' : 'text-text-primary dark:text-primary';

const descriptionClasses =
	variant === 'secondary' ? 'text-text-secondary dark:text-text-onAccent' : 'text-text-secondary dark:text-secondary';

const infoClasses = variant === 'secondary' ? 'text-text-tertiary dark:text-text-onAccent' : 'text-text-tertiary dark:text-tertiary';

const formatDate = (date: string | number | Date) => {
	const d = new Date(date);
	return d.getFullYear().toString();
};
---

<a
	href={href}
	class={`block no-underline transition-transform duration-300 ease-in-out transform rounded-lg card ${cardClasses} ${hoverClasses} ${className} h-full mb-8`}
>
	{image && <img src={image} alt={title} width='800' height='600' />}
	<div class='flex flex-col flex-grow m-4 card-content h-full'>
		<h3 class={`mb-2 text-lg ${titleClasses}`}>{title}</h3>
		<p class={`mb-4 flex-grow ${descriptionClasses}`}>{description}</p>
		<p class={`mb-2 ${infoClasses}`}>{clientName}</p>
		<p class={`mb-2 ${infoClasses}`}>{startDate} - {pubDate}</p>
		<div class='my-8 flex flex-wrap gap-2 card-tags'>
			{tags.map((tag: unknown) => <Tag tag={tag} variant={variant} />)}
		</div>
	</div>
</a>
