---
import { getCollection } from 'astro:content';
import Card from '@src/layouts/components/Card.astro';
import Button from '@src/layouts/components/Button.astro';

const caseStudies = await getCollection('blog');

const formatDate = (date: string | number | Date) => {
	const d = new Date(date);
	return d.getFullYear().toString();
};
---

<div class='grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3'>
	{
		caseStudies.map((post: any) => {
			const start = post.data.startDate ? formatDate(post.data.startDate) : '';
			const end = post.data.pubDate ? formatDate(post.data.pubDate) : '';
			return (
				<div class='col-span-1'>
					<Card
						image={post.data.coverImage?.src}
						title={post.data.title}
						description={post.data.description}
						startDate={start}
						pubDate={end}
						clientName={post.data.clientName}
						tags={post.data.tags}
						href={`/${post.slug}`}
						variant='primary'
						class='flex flex-col h-full'
					/>
				</div>
			);
		})
	}
</div>

<Button href='/posts/' text='View All Case Studies' variant='primary' />
